* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  font-family: "Poppins", sans-serif;
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-position: center;
}

section {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
}

section main {
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 600px;
}

section main img {
  width: 100px;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  box-shadow: 0 0 5px 1px hwb(0 22% 42%);
}

section main h2 {
  color: white;
  font-weight: 600;
}

section main a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 150px;
  color: white;
  text-decoration: none;
  border: 1.5px solid white;
  padding: 15px;
  backdrop-filter: blur(10px);
  gap: 15px;
  overflow: hidden;
  cursor: none;
}

section main a::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  transform: scale(1.0055);
  opacity: 1;
  border-radius: 150px;
  transition: 0.45s;
  right: 0;
  z-index: -1;
}
section main a#instagram::after {
  content: "";
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
section main a#youtube::after {
  content: "";
  background: linear-gradient(135deg, #ff0000 0%, #cc0000 100%);
}
section main a#facebook::after {
  content: "";
  background: linear-gradient(180deg, #1877f2 0%, #0a49a8 100%);
}
section main a#whatsapp::after {
  content: "";
  background: linear-gradient(135deg, #25d366 0%, #128c7e 100%);
}

section main a#instagram:hover::after,
section main a#youtube:hover::after,
section main a#facebook:hover::after,
section main a#whatsapp:hover::after {
  width: 100%;
  opacity: 1;
}
section main a:hover {
  border: none;
}
section main a i {
  font-size: 1.5em;
}

section footer p {
  font-size: 0.8em;
  color: white;
}

section footer p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  cursor: none;
}
section footer p a:hover {
  text-decoration: underline;
}

@media (min-width: 992px) {
  section main a {
    cursor: pointer;
  }
  section footer p a {
    cursor: pointer;
  }
}
